/* Allow password-less authorization via group membership */
polkit.addRule(function(action, subject) {
	if (subject.isInGroup("operator")) {
		return polkit.Result.YES;
	}
});

