[Desktop Entry]
Name=Printer configuration
Exec=xdg-open http://localhost:631
Icon=printer
Terminal=false
StartupNotify=false
Type=Application
Categories=XFCE;Settings;DesktopSettings;X-XFCE-SettingsDialog;X-XFCE-HardwareSettings;
