ARCH=amd64
RELEASE=13.0-RELEASE
BASEURL="http://download.freebsd.org/ftp"

# Media size in GB
MEDIASIZE=5
# Fragment size for UFS
FRAGSIZE=4096
# Approx. storage space overhead in %
UFS_OVERHEAD=1
# Min. free storage space in % for base system
UFS_MINFREE=8
# Extra space in MB for base system.
BASEFS_EXTRA=100

# Cluster size for uzip conpression. Should be a multiple of 512 bytes.
UZIP_CLUSTERSZ=19456

PKGLIST=pkg.list
IMAGE_NAME=nomadbsd.img

# Use unionfs-fuse instead of FreeBSD's unionfs
USE_UNIONFS_FUSE="YES"

# Define postion for the boot menu
MENU_POSITION_X=5
MENU_POSITION_Y=12

# Define # of parallel jobs for compressing the uzip image
MKUZIP_JOBS=$(sysctl -n hw.ncpu)

# Whether to build a custom kernel
BUILD_KERNEL="YES"

# Don't build the following kernel modules
WITHOUT_KMODS="drm drm2 i915kms mach64 mga r128 radeonkms savage sis tdfx via"

# Options passed to "make"
BUILDKERNEL_OPTS="-j$(sysctl -n hw.ncpu)"

# Lines added to the kernel config file.
KERNELOPTS() {
cat << KERNELOPTS_END
ident		NOMADBSD
options		TERMINAL_NORM_ATTR=(FG_LIGHTBLUE|BG_BLACK)
options		TERMINAL_KERN_ATTR=(FG_LIGHTCYAN|BG_BLACK)
options		BWN_GPL_PHY
nooptions	COMPAT_FREEBSD4
nooptions	COMPAT_FREEBSD5
nooptions	COMPAT_FREEBSD6
nooptions	COMPAT_FREEBSD7
nooptions	COMPAT_FREEBSD9
nooptions	INVARIANTS
nooptions	INVARIANT_SUPPORT
nooptions	WITNESS
nooptions	WITNESS_SKIPSPIN
nooptions	BUF_TRACKING
nooptions	DEADLKRES
nooptions	FULL_BUF_TRACKING
nooptions	COVERAGE
nooptions	KCOV
nooptions	KDB
nooptions	KDB_TRACE
nooptions	GDB
nooptions	DDB_CTF
nooptions	DDB
KERNELOPTS_END
}

# Because of special options, some packages must be installed using the
# ports tree. Add each port as category/portname to PORTSLIST. The port's
# options can be defined by setting portname_OPTS. Dashes (``-´´)
# in port names must be replaced by under scores (``_´´) when defining
# portname_OPTS. The format is "OPT1=<on|off> OPT2=<on|off> ... OPTn=<on|off>"
#

PORTSLIST=$(cat <<PORTSLIST_EOF
devel/gmake
devel/libpciaccess
devel/xdg-utils
graphics/drm-kmod
net/bwi-firmware-kmod
net/bwn-firmware-kmod
sysutils/fusefs-jmtpfs
sysutils/rtsx-kmod
x11-drivers/xf86-video-amdgpu
x11-themes/qt5-style-plugins
PORTSLIST_EOF
)

# Options to build Openbox from ports.
openbox_OPTS="IMLIB=on SVG=on NOTIFY=on PATCHES=on"

# Options for building the NVIDIA drivers
NVIDIA_BUILD_OPTS="OPTIONS_UNSET=\"LINUX DOCS\""

# Path to the local ports tree. It will be mounted to ${SYSDIR}/usr/ports.
PORTSTREE=/usr/ports

# Software packages which install from git repos.
GIT_SITE="https://github.com/mrclksr"
GIT_REPOS=$(cat <<GIT_REPOS_EOF
${GIT_SITE}/DSBDriverd.git
${GIT_SITE}/DSBMC.git
${GIT_SITE}/DSBMC-Cli.git
${GIT_SITE}/DSBMD.git
${GIT_SITE}/dsbcfg.git
${GIT_SITE}/libdsbmc.git
${GIT_SITE}/DSBBatmon.git
${GIT_SITE}/DSBMixer.git
${GIT_SITE}/DSBDisplaySettings.git
${GIT_SITE}/DSBSu.git
${GIT_SITE}/DSBExec.git
${GIT_SITE}/DSBLogoutmgr.git
${GIT_SITE}/DSBBg.git
${GIT_SITE}/DSBAutostart.git
${GIT_SITE}/DSBDefaultApps.git
${GIT_SITE}/DSBXinput.git
https://github.com/bsdlme/ipfwGUI.git
GIT_REPOS_EOF
)

# Define build commands for each git repo.
DSB_QT_TOOLS_BUILD_CMD="qmake && make clean && make && make install"

DSBDriverd_BUILD_CMD="make clean install"
DSBMC_BUILD_CMD=${DSB_QT_TOOLS_BUILD_CMD}
DSBMC_Cli_BUILD_CMD="make clean install"
DSBMD_BUILD_CMD="make clean install"
DSBBatmon_BUILD_CMD=${DSB_QT_TOOLS_BUILD_CMD}
DSBMixer_BUILD_CMD=${DSB_QT_TOOLS_BUILD_CMD}
DSBDisplaySettings_BUILD_CMD=${DSB_QT_TOOLS_BUILD_CMD}
DSBSu_BUILD_CMD=${DSB_QT_TOOLS_BUILD_CMD}
DSBExec_BUILD_CMD=${DSB_QT_TOOLS_BUILD_CMD}
DSBLogoutmgr_BUILD_CMD=${DSB_QT_TOOLS_BUILD_CMD}
DSBBg_BUILD_CMD=${DSB_QT_TOOLS_BUILD_CMD}
DSBAutostart_BUILD_CMD=${DSB_QT_TOOLS_BUILD_CMD}
DSBDefaultApps_BUILD_CMD="make && make install"
DSBXinput_BUILD_CMD="make install"
ipfwGUI_BUILD_CMD="make install"

