#!/bin/sh
export PATH=/sbin:/bin:/usr/sbin:/usr/bin:/usr/games:/usr/local/sbin:/usr/local/bin:/home/nomad/bin

export QT_QPA_PLATFORMTHEME=qt5ct
export QT_FONT_DPI=96

#
# Some display managers don't source the login files /etc/login.conf and
# ~/.login_conf. Make sure the environment variables defined in those files
# are set.
#
for e in $(env -L $(whoami); env -U $(whoami)); do
	export "$e"
done

#
# If not set to "unix", gvfs will use bsdisks which fails to unmount volumes
# mounted on directories it does not expect.
#
export GIO_USE_VOLUME_MONITOR=unix

xrdb ~/.Xresources

uid=$(id -u)

#
# Check if ~/.cache is a symbolic link to a directory owned by the user.
# If the link's target is not a directory or does not exist, create a
# directory owned by the user under /tmp, and make ~/.cache a symbolic
# link to it.
#
if [ -L ~/.cache ]; then
	if [ -d ~/.cache ]; then
		ownerid=$(stat -L -f %u ~/.cache)
		if [ "${ownerid}" != "${uid}" ]; then
			recreate_cache=1
		fi
	else
		recreate_cache=1
	fi
	if [ "${recreate_cache}" = "1" ]; then
		user=$(whoami)
		unlink ~/.cache
		cachedir=$(mktemp -d /tmp/${user}.XXXXXX)
		ln -s ${cachedir} ~/.cache
	fi
fi

#
# Kill dbus services from a previous session in order to prevent hangs.
#
for s in 15 9; do
	for p in dbus-launch gvfsd-fuse; do
		pgrep -U ${uid} -q $p && pkill -$s $p
	done
done
eval $(dbus-launch --sh-syntax)

# Apply screen settings from DSBDisplaySettings
~/.config/DSB/dsbds.sh

# Apply screen settings from ArandR
~/.screenlayout/default.sh

tpquirk
enable_tapping
~/.config/xkbdmap.sh

