[Desktop Entry]
Name=NetworkMgr
Comment=Network Manager
Exec=sudo -E networkmgr
Terminal=false
Type=Application
Categories=
NoDisplay=true
X-Mate-Autostart-Notify=true
X-KDE-autostart-after=panel
