[Desktop Entry]
Name=Leave
Exec=/usr/local/bin/dsblogoutmgr -l close_session
Icon=system-log-out
Terminal=false
StartupNotify=true
Type=Application
NoDisplay=true
Categories=System;Utility;Application
