[Desktop Entry]
Name=NomadBSD Installer
Exec=dsbsu /usr/libexec/nomadbsd-install-gui
Icon=drive-harddisk
Terminal=false
StartupNotify=false
Type=Application
Categories=System;Application

